<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>鸣人</string>
		<key>text</key>
		<string>螺旋丸</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>001</string>
			<string>001</string>
		</array>
		<key>username</key>
		<string>佐助</string>
		<key>text</key>
		<string>须佐能乎,这个必杀技,只有我能驾驭!!!!!</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>003</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>好色仙人</string>
		<key>text</key>
		<string>哈哈,又偷看别人洗澡了......</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>001</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>小樱</string>
		<key>text</key>
		<string>佐助,我......L....O....V.....E....你!!!!</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>雏田</string>
		<key>text</key>
		<string>鸣人,你那什么?...</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>鸣人</string>
		<key>text</key>
		<string>仙人模式,开启,九喇嘛开始装逼模式!</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>九喇嘛</string>
		<key>text</key>
		<string>啥玩意?</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>卡卡西</string>
		<key>text</key>
		<string>第五小分队,开始,战斗!写轮眼!!!</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>四代</string>
		<key>text</key>
		<string>鸣人,都是我的错,我有好多话要跟你讲......</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>川普</string>
		<key>text</key>
		<string>美国是我的了......</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>佐助</string>
		<key>text</key>
		<string>开玩笑,你等着....</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>enmotios</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>未完待续</string>
		<key>text</key>
		<string>如有雷同,纯属虚构!</string>
		<key>type</key>
		<string>1</string>
	</dict>
</array>
</plist>
